.zx7-speaker-promotion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 320px;
    background-image: url("./style/assets/home/mobile/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border-radius: 10px;

    @include tablet{
        background-image: url("./style/assets/home/tablet/image-speaker-zx7.jpg");
    }

    @include desktop{
        background-image: url("./style/assets/home/desktop/image-speaker-zx7.jpg");
    }

    & .zx7-speaker-text{
        display: flex;
        justify-content: space-between;
        align-items: start; 
        flex-direction: column;
        width: fit-content;
        height: 130px;
        margin-left: 20px;

        @include tablet{
            margin-left: 40px;
        }
    }
}